@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./base.css";
  a {
    @apply text-neon-orange dark:text-yellow-500;
  }
  a:hover {
    @apply text-blue-800 hover:text-blue-400;
  }
  code {
    @apply text-sm m-0 p-1 border border-gray-50 dark:border-gray-800 rounded-md bg-gray-50 dark:bg-gray-800;
  }
  code::before {
    content: "" !important;
  }
  code::after {
    content: "" !important;
  }
}

@layer components {
  @import "./components.css";
}
